In [71]:
import numpy as np
import pandas as pd

In [72]:
dataset = pd.read_csv("Dataset.csv")

In [73]:
dataset.head()

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   No
1     sunny         hot     high   True   No
2  overcast         hot     high  False  Yes
3     rainy        mild     high  False  Yes
4     rainy        cool   normal  False  Yes

In [74]:
target = dataset['Play']
target.head()

0     No
1     No
2    Yes
3    Yes
4    Yes
Name: Play, dtype: object

In [75]:
dataset = dataset.drop("Play",axis=1)

In [76]:
dataset = pd.get_dummies(dataset)
dataset

,Windy,Outlook_overcast,Outlook_rainy,Outlook_sunny,Temperature_cool,Temperature_hot,Temperature_mild,Humidity_high,Humidity_normal
0,False,False,False,True,False,True,False,True,False
1,True,False,False,True,False,True,False,True,False
2,False,True,False,False,False,True,False,True,False
3,False,False,True,False,False,False,True,True,False
4,False,False,True,False,True,False,False,False,True
5,True,False,True,False,True,False,False,False,True
6,True,True,False,False,True,False,False,False,True
7,False,False,False,True,False,False,True,True,False
8,False,False,False,True,True,False,False,False,True
9,False,False,True,False,False,False,True,False,True
10,True,False,False,True,False,False,True,False,True
11,True,True,False,False,False,False,True,True,False
12,False,True,False,False,False,True,False,False,True
13,True,False,True,False,False,False,True,True,False

In [77]:
dataset = pd.concat([dataset,target],axis=1)
dataset

,Windy,Outlook_overcast,Outlook_rainy,Outlook_sunny,Temperature_cool,Temperature_hot,Temperature_mild,Humidity_high,Humidity_normal,Play
0,False,False,False,True,False,True,False,True,False,No
1,True,False,False,True,False,True,False,True,False,No
2,False,True,False,False,False,True,False,True,False,Yes
3,False,False,True,False,False,False,True,True,False,Yes
4,False,False,True,False,True,False,False,False,True,Yes
5,True,False,True,False,True,False,False,False,True,No
6,True,True,False,False,True,False,False,False,True,Yes
7,False,False,False,True,False,False,True,True,False,No
8,False,False,False,True,True,False,False,False,True,Yes
9,False,False,True,False,False,False,True,False,True,Yes
10,True,False,False,True,False,False,True,False,True,Yes
11,True,True,False,False,False,False,True,True,False,Yes
12,False,True,False,False,False,True,False,False,True,Yes
13,True,False,True,False,False,False,True,True,False,No

In [78]:
from sklearn.tree import DecisionTreeClassifier

In [79]:
classifier = DecisionTreeClassifier(criterion='entropy',random_state=40)

In [80]:
X = dataset.iloc[:,:9]

In [81]:
X

,Windy,Outlook_overcast,Outlook_rainy,Outlook_sunny,Temperature_cool,Temperature_hot,Temperature_mild,Humidity_high,Humidity_normal
0,False,False,False,True,False,True,False,True,False
1,True,False,False,True,False,True,False,True,False
2,False,True,False,False,False,True,False,True,False
3,False,False,True,False,False,False,True,True,False
4,False,False,True,False,True,False,False,False,True
5,True,False,True,False,True,False,False,False,True
6,True,True,False,False,True,False,False,False,True
7,False,False,False,True,False,False,True,True,False
8,False,False,False,True,True,False,False,False,True
9,False,False,True,False,False,False,True,False,True
10,True,False,False,True,False,False,True,False,True
11,True,True,False,False,False,False,True,True,False
12,False,True,False,False,False,True,False,False,True
13,True,False,True,False,False,False,True,True,False

In [82]:
Y = dataset.iloc[:,9]

In [83]:
Y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Play, dtype: object

In [84]:
from sklearn.model_selection import train_test_split

In [85]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,train_size=0.77)

In [86]:
X_train

,Windy,Outlook_overcast,Outlook_rainy,Outlook_sunny,Temperature_cool,Temperature_hot,Temperature_mild,Humidity_high,Humidity_normal
0,False,False,False,True,False,True,False,True,False
7,False,False,False,True,False,False,True,True,False
10,True,False,False,True,False,False,True,False,True
1,True,False,False,True,False,True,False,True,False
9,False,False,True,False,False,False,True,False,True
12,False,True,False,False,False,True,False,False,True
8,False,False,False,True,True,False,False,False,True
3,False,False,True,False,False,False,True,True,False
13,True,False,True,False,False,False,True,True,False
5,True,False,True,False,True,False,False,False,True

In [87]:
Y_train

0      No
7      No
10    Yes
1      No
9     Yes
12    Yes
8     Yes
3     Yes
13     No
5      No
Name: Play, dtype: object

In [88]:
Train = pd.concat([X_train,Y_train],axis=1)

In [89]:
Train

,Windy,Outlook_overcast,Outlook_rainy,Outlook_sunny,Temperature_cool,Temperature_hot,Temperature_mild,Humidity_high,Humidity_normal,Play
0,False,False,False,True,False,True,False,True,False,No
7,False,False,False,True,False,False,True,True,False,No
10,True,False,False,True,False,False,True,False,True,Yes
1,True,False,False,True,False,True,False,True,False,No
9,False,False,True,False,False,False,True,False,True,Yes
12,False,True,False,False,False,True,False,False,True,Yes
8,False,False,False,True,True,False,False,False,True,Yes
3,False,False,True,False,False,False,True,True,False,Yes
13,True,False,True,False,False,False,True,True,False,No
5,True,False,True,False,True,False,False,False,True,No

In [90]:
model = classifier.fit(X_train,Y_train)

In [91]:
prediction = model.predict(X_test)

In [92]:
prediction

array(['Yes', 'No', 'Yes', 'No'], dtype=object)

In [93]:
Y_test

2     Yes
11    Yes
6     Yes
4     Yes
Name: Play, dtype: object